.canvas {
background-color: #FBD603;
position: absolute;
width: 300px;
height: 150px;
cursor: move;
}

.canvas_container {
background-color: #EBEBEB;
position: relative;
width: 800px;
height: 1400px;
overflow: clip;
}
  